body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://scontent.fsdv2-1.fna.fbcdn.net/v/t1.0-1/p200x200/29315132_442391556178457_3844401952221822976_n.png?_nc_cat=0&oh=75dded86bb0e8eefef0162b888289bf0&oe=5B7FD4E6");
}

body {

   background-color: #cccccc;
}
