.LandingPage {
  text-align: center;
}

.LandingPage-link {
  color: blue;
}

.LandingPage-text {
  height: 200px;
  color: blue;
}

.startButton {
  text-align: center;
  background: #fff;
  border: 1px solid #999;
  float: bottom;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.LandingPage-teamBox-blue {
  background-color: blue;
  width: 300px;
  margin: 25px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  float: left;
}

.LandingPage-teamBox-red {
  background-color: red;
  width: 300px;
  margin: 25px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  float: right;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
