.QuestionBox {
  text-align: center;
}

.QuestionBox-teamBox-blue {
  background-color: blue;
  width: 100px;
  height: 100px;
  margin: 25px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.QuestionBox-teamBox-red {
  background-color: red;
  width: 100px;
  height: 100px;
  margin: 25px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.Answer {
  background-color: grey;
  width: 300px;
  margin: 25px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  float: left;
  border: 8px solid;
}

.Question {
  background-color: grey;
  width: 75.7%;
  height: 50px;
  margin: 32px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: purple;
}
