.UserCounter {
  text-align: center;
}

.hexagon-grey {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: #c0c0c0;
  margin: 28.87px 0;
}

.hexagon-grey:before,
.hexagon-grey:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon-grey:before {
  bottom: 100%;
  border-bottom: 28.87px solid #c0c0c0;
}

.hexagon-grey:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #c0c0c0;
}


.hexagon-blue {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: #0000ff;
  margin: 28.87px 0;
}

.hexagon-blue:before,
.hexagon-blue:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon-blue:before {
  bottom: 100%;
  border-bottom: 28.87px solid #0000ff;
}

.hexagon-blue:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #0000ff;
}
